
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

 
 body {
    background-color: black;
    font-family:"Orbitron", sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
 }

 .clock {
    color: rgb(28, 209, 28);
    font-size: 100px;
    letter-spacing: 5px;    
 }